#container{
	flex: initial;
	display:flex;
	flex-direction: ;
	align-content: center;
	align-self: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
	flex-basis: fill;
	flex-flow: row wrap;
}
.flex-container{
	align-content: all;
	max-width: 100%
	margin: 100px;
	padding: 10px;
}

.img-thumbnail {
	display: flex;
	max-width: 100%; 
	height: auto;
	border: none;
	flex: auto;
}
